.container {
    display: inline-block;
}

.container .vis-container {
    display: inline-block;
}

.energy {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 20px 20px;
    justify-content: left;
    padding: 20px;
}

.cell {
    background-color: lightblue;
}

.electricity > div {
    display: inline-block;
}

.input-container * {
    display: inline;
}

.output-container * {
    display: inline;
}

.energy .vis-container {
    width: 300px; 
    height: 150px;
}

.energy .vis {
    width: 300px; 
    height: 150px;
}

.electricity .input-container {
    width: 500px;
}

.electricity .vis-container {
    width: 250px;
    height: 300px;
}

.electricity .vis {
    width: 250px;
    height: 300px;
}

.electricity .slider-output {
    text-anchor: end;
    /* TODO make this work lol */
}

.co2 .vis-container {
    width: 300px;
    height: 1000px;
}

.co2 .vis {
    width: 300px;
    height: 1000px;
}

.legend .vis-container.green {
    width: 300px;
}

.legend .vis-container.ngreen {
    width: 600px;
}

.tooltip {
    position: absolute; 
    z-index: 10; 
    padding: 10px; 
    visibility: hidden; 
    background-color: white; 
    border: solid; 
    border-width: 1px;
}