.titles {
    font-family: tahoma, sans-serif;
    font-size: 18px;
}

.subtitles {
    font-family: tahoma, sans-serif; 
    font-size: 14px;
}

.regular-text {
    font-family: 'Times New Roman', serif;
    font-size: 12px;
}

.mini-text {
    font-family: 'Times New Roman', serif;
    font-size: 10px;
}

.green-text {
    color: rgb(70, 100, 80);
}

.header {
    padding: 10px;
}

.container {
    display: inline-block;
    padding: 10px;
    height: 570px;
    vertical-align: top;
}

.energy, .electricity, .co2 {
    position: relative;
    height: 100%;
}

fieldset {
    max-width: max-content; 
    padding: 20px;
    border-width: 1px;
    border-color: black;
}

.energy {
    width: 510px;
}

.energy .grid {
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 10px 10px;
    justify-content: left;
}

.cell {
    background-color: lightblue;
    padding: 10px;
}

.input-container * {
    display: inline;
}

.output-container * {
    display: inline;
}

.energy .vis-container {
    width: 250px; 
    height: 100px;
}

.energy .vis {
    width: 250px; 
    height: 100px;
}

.electricity {
    width: 500px;
}

.electricity .input-container {
    position: relative;
    width: 500px;
}

.electricity .input-container .slider-output {
    position: absolute;
    right: 0;
}

.electricity .vis-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 250px;
}

.electricity .vis {
    width: 500px;
    height: 250px;
}

.electricity .slider-output {
    text-align: right;
    /* TODO make this work lol */
}

.co2 {
    width: 300px;
}

.co2 .vis-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 510px;
}

.co2 .vis {
    width: 300px;
    height: 510px;
}

.legend .vis-container svg {
    display: inline-block;
}

.legend .vis-container.green svg {
    width: 300px;
}

.legend .vis-container.ngreen svg {
    width: 600px;
}

.slider {
    height: 0.5em;
    accent-color: black;
}

.energy .slider {
    width: 50%;
}

.electricity .slider {
    width: 30%;
}

.tooltip {
    position: absolute; 
    z-index: 10; 
    padding: 10px; 
    visibility: hidden; 
    background-color: white; 
    border: solid; 
    border-width: 1px;
}

.type-elec-efficiency, .type-transmission-efficiency {
    display: none;
}

#error-message {
    color: red;
    display: none;
}