.grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 20px 20px;
    justify-content: left;
    padding: 20px;
}

.cell {
    background-color: lightblue;
}

div.slide-container * {
    display: inline;
}

.cell.vis-container {
    width: 300px; 
    height: 150px;
}

.cell.vis {
    width: 300px; 
    height: 150px;
}